*{
    margin:0;
    padding:0;
}
#wrap{
    width:660px;
    height:100px;
    margin:0 auto;
}
#time, #date{
    width:100%;
    height:150px;
    margin:0 auto;
}
#time, #date{
    height:100%;
    text-align: center;
    line-height: 150px;
    margin:0 auto;
    font-size: 75px;
}